<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.baseinfo.BaseinfoLocationDao" >

	<resultMap id="baseinfoLocationResultMap" type="BaseinfoLocation">
		<id property="id" column="id"/>
		<result property="locationId" column="location_id"/>
		<result property="locationCode" column="location_code"/>
		<result property="fatherId" column="father_id"/>
		<result property="type" column="type"/>
		<result property="typeName" column="type_name"/>
		<result property="isLeaf" column="is_leaf"/>
		<result property="isValid" column="is_valid"/>
		<result property="canStore" column="can_store"/>
		<result property="inUse" column="in_use"/>
		<result property="containerVol" column="container_vol"/>
		<result property="regionNo" column="region_no"/>
		<result property="passageNo" column="passage_no"/>
		<result property="shelfLevelNo" column="shelf_level_no"/>
		<result property="binPositionNo" column="bin_position_no"/>
		<result property="description" column="description"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="BaseinfoLocation">
		insert into baseinfo_location (
			location_id,location_code,father_id,type,type_name,is_leaf,
			is_valid,can_store,in_use,container_vol,region_no,passage_no,
			shelf_level_no,bin_position_no,description,created_at,updated_at
    	) values (
			#{locationId},#{locationCode},#{fatherId},#{type},#{typeName},#{isLeaf},
			#{isValid},#{canStore},#{inUse},#{containerVol},#{regionNo},#{passageNo},
			#{shelfLevelNo},#{binPositionNo},#{description},#{createdAt},#{updatedAt}
    	)
	</insert>

	<update id="update" parameterType="BaseinfoLocation">
		update baseinfo_location
    	<set>
  			<if test="locationId != null">location_id=#{locationId},</if>
  			<if test="locationCode != null">location_code=#{locationCode},</if>
  			<if test="fatherId != null">father_id=#{fatherId},</if>
  			<if test="type != null">type=#{type},</if>
  			<if test="typeName != null">type_name=#{typeName},</if>
  			<if test="isLeaf != null">is_leaf=#{isLeaf},</if>
  			<if test="isValid != null">is_valid=#{isValid},</if>
  			<if test="canStore != null">can_store=#{canStore},</if>
  			<if test="inUse != null">in_use=#{inUse},</if>
  			<if test="containerVol != null">container_vol=#{containerVol},</if>
  			<if test="regionNo != null">region_no=#{regionNo},</if>
  			<if test="passageNo != null">passage_no=#{passageNo},</if>
  			<if test="shelfLevelNo != null">shelf_level_no=#{shelfLevelNo},</if>
  			<if test="binPositionNo != null">bin_position_no=#{binPositionNo},</if>
  			<if test="description != null">description=#{description},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt}</if>
		</set>
		where location_id=#{locationId}
	</update>
  
	<select id="getBaseinfoLocationById" parameterType="int" resultMap="baseinfoLocationResultMap">
		select * from baseinfo_location
		where location_id=#{locationId}
	</select>
  
	<select id="countBaseinfoLocation" parameterType="map" resultType="int">
		select count(*) from baseinfo_location
		<include refid="queryCondition"/>
	</select>
  
	<select id="getBaseinfoLocationList" parameterType="map" resultMap="baseinfoLocationResultMap">
		select * from baseinfo_location
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="locationId != null">and location_id=#{locationId}</if>
			<if test="locationCode != null">and location_code=#{locationCode}</if>
			<if test="fatherId != null">and father_id=#{fatherId}</if>
			<if test="type != null">and type=#{type}</if>
			<if test="typeName != null">and type_name=#{typeName}</if>
			<if test="isLeaf != null">and is_leaf=#{isLeaf}</if>
			<if test="isValid != null">and is_valid=#{isValid}</if>
			<if test="canStore != null">and can_store=#{canStore}</if>
			<if test="inUse != null">and in_use=#{inUse}</if>
			<if test="containerVol != null">and container_vol=#{containerVol}</if>
			<if test="regionNo != null">and region_no=#{regionNo}</if>
			<if test="passageNo != null">and passage_no=#{passageNo}</if>
			<if test="shelfLevelNo != null">and shelf_level_no=#{shelfLevelNo}</if>
			<if test="binPositionNo != null">and bin_position_no=#{binPositionNo}</if>
			<if test="description != null">and description=#{description}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
		</where>
	</sql>
   
</mapper>