<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.baseinfo.BaseinfoItemLocationDao" >

	<resultMap id="baseinfoItemLocationResultMap" type="BaseinfoItemLocation">
		<id property="id" column="id"/>
		<result property="skuId" column="sku_id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="pickLocationid" column="pick_locationid"/>
		<result property="userstatus" column="userstatus"/>
		<result property="itemId" column="item_id"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="BaseinfoItemLocation">
		insert into baseinfo_item_location (
			sku_id,owner_id,pick_locationid,userstatus,item_id
    	) values (
			#{skuId},#{ownerId},#{pickLocationid},#{userstatus},#{itemId}
    	)
	</insert>

	<update id="update" parameterType="BaseinfoItemLocation">
		update baseinfo_item_location
    	<set>
  			<if test="skuId != null">sku_id=#{skuId},</if>
  			<if test="ownerId != null">owner_id=#{ownerId},</if>
  			<if test="pickLocationid != null">pick_locationid=#{pickLocationid},</if>
  			<if test="userstatus != null">userstatus=#{userstatus}</if>
			<if test="itemId != null">item_id=#{itemId}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getBaseinfoItemLocationById" parameterType="int" resultMap="baseinfoItemLocationResultMap">
		select * from baseinfo_item_location
		where ID=#{id} 
	</select>
  
	<select id="countBaseinfoItemLocation" parameterType="map" resultType="int">
		select count(*) from baseinfo_item_location
		<include refid="queryCondition"/>
	</select>
  
	<select id="getBaseinfoItemLocationList" parameterType="map" resultMap="baseinfoItemLocationResultMap">
		select * from baseinfo_item_location
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="pickLocationid != null">and pick_locationid=#{pickLocationid}</if>
			<if test="userstatus != null">and userstatus=#{userstatus}</if>
			<if test="itemId != null">and item_id=#{itemId}</if>
		</where>
	</sql>
   
</mapper>