<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.so.OutbSoHeaderDao" >

	<resultMap id="outbSoHeaderResultMap" type="OutbSoHeader">
		<id property="id" column="ID"/>
		<result property="warehouseId" column="WAREHOUSE_ID"/>
		<result property="orderId" column="ORDER_ID"/>
		<result property="orderOtherId" column="ORDER_OTHER_ID"/>
		<result property="orderUser" column="ORDER_USER"/>
		<result property="ownerUid" column="OWNER_UID"/>
		<result property="orderType" column="ORDER_TYPE"/>
		<result property="waveId" column="WAVE_ID"/>
		<result property="transPlan" column="TRANS_PLAN"/>
		<result property="waveIndex" column="WAVE_INDEX"/>
		<result property="transTime" column="TRANS_TIME"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="deliveryAddrs" column="DELIVERY_ADDRS"/>
		<result property="insertby" column="INSERTBY"/>
		<result property="updateby" column="UPDATEBY"/>
		<result property="inserttime" column="INSERTTIME"/>
		<result property="updatetime" column="UPDATETIME"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="OutbSoHeader">
		insert into OUTB_SO_HEADER (
			WAREHOUSE_ID,ORDER_ID,ORDER_OTHER_ID,ORDER_USER,OWNER_UID,ORDER_TYPE,
			WAVE_ID,TRANS_PLAN,WAVE_INDEX,TRANS_TIME,ORDER_STATUS,DELIVERY_ADDRS,
			INSERTBY,UPDATEBY,INSERTTIME,UPDATETIME
    	) values (
			#{warehouseId},#{orderId},#{orderOtherId},#{orderUser},#{ownerUid},#{orderType},
			#{waveId},#{transPlan},#{waveIndex},#{transTime},#{orderStatus},#{deliveryAddrs},
			#{insertby},#{updateby},#{inserttime},#{updatetime}
    	)
	</insert>

	<update id="update" parameterType="OutbSoHeader">
		update OUTB_SO_HEADER
    	<set>
  			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
  			<if test="orderId != null">ORDER_ID=#{orderId},</if>
  			<if test="orderOtherId != null">ORDER_OTHER_ID=#{orderOtherId},</if>
  			<if test="orderUser != null">ORDER_USER=#{orderUser},</if>
  			<if test="ownerUid != null">OWNER_UID=#{ownerUid},</if>
  			<if test="orderType != null">ORDER_TYPE=#{orderType},</if>
  			<if test="waveId != null">WAVE_ID=#{waveId},</if>
  			<if test="transPlan != null">TRANS_PLAN=#{transPlan},</if>
  			<if test="waveIndex != null">WAVE_INDEX=#{waveIndex},</if>
  			<if test="transTime != null">TRANS_TIME=#{transTime},</if>
  			<if test="orderStatus != null">ORDER_STATUS=#{orderStatus},</if>
  			<if test="deliveryAddrs != null">DELIVERY_ADDRS=#{deliveryAddrs},</if>
  			<if test="insertby != null">INSERTBY=#{insertby},</if>
  			<if test="updateby != null">UPDATEBY=#{updateby},</if>
  			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
  			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ID=#{id}
	</update>




	<update id="updateByOrderOtherIdOrOrderId" parameterType="OutbSoHeader">
		update OUTB_SO_HEADER
		<set>
			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
			<if test="orderUser != null">ORDER_USER=#{orderUser},</if>
			<if test="ownerUid != null">OWNER_UID=#{ownerUid},</if>
			<if test="orderType != null">ORDER_TYPE=#{orderType},</if>
			<if test="waveId != null">WAVE_ID=#{waveId},</if>
			<if test="transPlan != null">TRANS_PLAN=#{transPlan},</if>
			<if test="waveIndex != null">WAVE_INDEX=#{waveIndex},</if>
			<if test="transTime != null">TRANS_TIME=#{transTime},</if>
			<if test="orderStatus != null">ORDER_STATUS=#{orderStatus},</if>
			<if test="deliveryAddrs != null">DELIVERY_ADDRS=#{deliveryAddrs},</if>
			<if test="insertby != null">INSERTBY=#{insertby},</if>
			<if test="updateby != null">UPDATEBY=#{updateby},</if>
			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ORDER_OTHER_ID=#{orderOtherId} OR ORDER_ID=#{orderId}
	</update>
  
	<select id="getOutbSoHeaderById" parameterType="int" resultMap="outbSoHeaderResultMap">
		select * from OUTB_SO_HEADER
		where ID=#{id} 
	</select>
  
	<select id="countOutbSoHeader" parameterType="map" resultType="int">
		select count(*) from OUTB_SO_HEADER
		<include refid="queryCondition"/>
	</select>
  
	<select id="getOutbSoHeaderList" parameterType="map" resultMap="outbSoHeaderResultMap">
		select * from OUTB_SO_HEADER
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">ID=#{id}</if>
			<if test="warehouseId != null">and WAREHOUSE_ID=#{warehouseId}</if>
			<if test="orderId != null">and ORDER_ID=#{orderId}</if>
			<if test="orderOtherId != null">and ORDER_OTHER_ID=#{orderOtherId}</if>
			<if test="orderUser != null">and ORDER_USER=#{orderUser}</if>
			<if test="ownerUid != null">and OWNER_UID=#{ownerUid}</if>
			<if test="orderType != null">and ORDER_TYPE=#{orderType}</if>
			<if test="waveId != null">and WAVE_ID=#{waveId}</if>
			<if test="transPlan != null">and TRANS_PLAN=#{transPlan}</if>
			<if test="waveIndex != null">and WAVE_INDEX=#{waveIndex}</if>
			<if test="transTime != null">and TRANS_TIME=#{transTime}</if>
			<if test="orderStatus != null">and ORDER_STATUS=#{orderStatus}</if>
			<if test="deliveryAddrs != null">and DELIVERY_ADDRS=#{deliveryAddrs}</if>
			<if test="insertby != null">and INSERTBY=#{insertby}</if>
			<if test="updateby != null">and UPDATEBY=#{updateby}</if>
			<if test="inserttime != null">and INSERTTIME=#{inserttime}</if>
			<if test="updatetime != null">and UPDATETIME=#{updatetime}</if>
		</where>
	</sql>
   
</mapper>