<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.so.OutbSoHeaderDao" >

	<resultMap id="outbSoHeaderResultMap" type="OutbSoHeader">
		<id property="id" column="ID"/>
		<result property="warehouseId" column="WAREHOUSE_ID"/>
		<result property="soCode" column="SO_CODE"/>
		<result property="soUser" column="SO_USER"/>
		<result property="ownerUid" column="OWNER_UID"/>
		<result property="orderType" column="ORDER_TYPE"/>
		<result property="tmsLine" column="TMS_LINE"/>
		<result property="tmsIndex" column="TMS_INDEX"/>
		<result property="transTime" column="TRANS_TIME"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="deliveryAddrs" column="DELIVERY_ADDRS"/>
		<result property="insertby" column="INSERTBY"/>
		<result property="updateby" column="UPDATEBY"/>
		<result property="inserttime" column="INSERTTIME"/>
		<result property="updatetime" column="UPDATETIME"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="OutbSoHeader">
		insert into OUTB_SO_HEADER (
			WAREHOUSE_ID,SO_CODE,SO_USER,OWNER_UID,ORDER_TYPE,TMS_LINE,
			TMS_INDEX,TRANS_TIME,ORDER_STATUS,DELIVERY_ADDRS,INSERTBY,UPDATEBY,
			INSERTTIME,UPDATETIME
    	) values (
			#{warehouseId},#{soCode},#{soUser},#{ownerUid},#{orderType},#{tmsLine},
			#{tmsIndex},#{transTime},#{orderStatus},#{deliveryAddrs},#{insertby},#{updateby},
			#{inserttime},#{updatetime}
    	)
	</insert>

	<update id="update" parameterType="OutbSoHeader">
		update OUTB_SO_HEADER
    	<set>
  			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
  			<if test="soCode != null">SO_CODE=#{soCode},</if>
  			<if test="soUser != null">SO_USER=#{soUser},</if>
  			<if test="ownerUid != null">OWNER_UID=#{ownerUid},</if>
  			<if test="orderType != null">ORDER_TYPE=#{orderType},</if>
  			<if test="tmsLine != null">TMS_LINE=#{tmsLine},</if>
  			<if test="tmsIndex != null">TMS_INDEX=#{tmsIndex},</if>
  			<if test="transTime != null">TRANS_TIME=#{transTime},</if>
  			<if test="orderStatus != null">ORDER_STATUS=#{orderStatus},</if>
  			<if test="deliveryAddrs != null">DELIVERY_ADDRS=#{deliveryAddrs},</if>
  			<if test="insertby != null">INSERTBY=#{insertby},</if>
  			<if test="updateby != null">UPDATEBY=#{updateby},</if>
  			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
  			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ID=#{id}
	</update>
  
	<select id="getOutbSoHeaderById" parameterType="int" resultMap="outbSoHeaderResultMap">
		select * from OUTB_SO_HEADER
		where ID=#{id} 
	</select>
  
	<select id="countOutbSoHeader" parameterType="map" resultType="int">
		select count(*) from OUTB_SO_HEADER
		<include refid="queryCondition"/>
	</select>
  
	<select id="getOutbSoHeaderList" parameterType="map" resultMap="outbSoHeaderResultMap">
		select * from OUTB_SO_HEADER
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">ID=#{id}</if>
			<if test="warehouseId != null">and WAREHOUSE_ID=#{warehouseId}</if>
			<if test="soCode != null">and SO_CODE=#{soCode}</if>
			<if test="soUser != null">and SO_USER=#{soUser}</if>
			<if test="ownerUid != null">and OWNER_UID=#{ownerUid}</if>
			<if test="orderType != null">and ORDER_TYPE=#{orderType}</if>
			<if test="tmsLine != null">and TMS_LINE=#{tmsLine}</if>
			<if test="tmsIndex != null">and TMS_INDEX=#{tmsIndex}</if>
			<if test="transTime != null">and TRANS_TIME=#{transTime}</if>
			<if test="orderStatus != null">and ORDER_STATUS=#{orderStatus}</if>
			<if test="deliveryAddrs != null">and DELIVERY_ADDRS=#{deliveryAddrs}</if>
			<if test="insertby != null">and INSERTBY=#{insertby}</if>
			<if test="updateby != null">and UPDATEBY=#{updateby}</if>
			<if test="inserttime != null">and INSERTTIME=#{inserttime}</if>
			<if test="updatetime != null">and UPDATETIME=#{updatetime}</if>
		</where>
	</sql>
   
</mapper>