<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.stock.StockQuantDao" >

	<resultMap id="stockQuantResultMap" type="StockQuant">
		<id property="id" column="id"/>
		<result property="skuId" column="sku_id"/>
		<result property="locationId" column="location_id"/>
		<result property="containerId" column="container_id"/>
		<result property="qty" column="qty"/>
		<result property="packUnit" column="pack_unit"/>
		<result property="packName" column="pack_name"/>
		<result property="value" column="value"/>
		<result property="cost" column="cost"/>
		<result property="reserveMoveId" column="reserve_move_id"/>
		<result property="isFrozen" column="is_frozen"/>
		<result property="supplierId" column="supplier_id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="lotId" column="lot_id"/>
		<result property="inDate" column="in_date"/>
		<result property="expireDate" column="expire_date"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
		<result property="itemId" column="item_id"/>
		<result property="isDefect" column="is_defect"/>
		<result property="isRefund" column="is_refund"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="StockQuant">
		insert into stock_quant (
			sku_id,
			location_id,
			container_id,
			qty,
			reserve_move_id,
			value,
			cost,
			pack_unit,
			pack_name,
			is_frozen,supplier_id,owner_id,lot_id,
			in_date,expire_date,created_at,updated_at,item_id,is_defect,is_refund
    	) values (
			#{skuId},#{locationId},#{containerId},#{qty},#{reserveMoveId},#{value},
			#{cost},#{packUnit},#{packName},#{isFrozen},#{supplierId},#{ownerId},#{lotId},
			#{inDate},#{expireDate},#{createdAt},#{updatedAt},#{itemId},#{isDefect},#{isRefund}
    	)
	</insert>

	<update id="update" parameterType="StockQuant">
		update stock_quant
    	<set>
  			<if test="skuId != null">sku_id=#{skuId},</if>
  			<if test="locationId != null">location_id=#{locationId},</if>
  			<if test="containerId != null">container_id=#{containerId},</if>
  			<if test="qty != null">qty=#{qty},</if>
			<if test="reserveMoveId != null">reserve_move_id=#{reserveMoveId},</if>
  			<if test="value != null">value=#{value},</if>
  			<if test="cost != null">cost=#{cost},</if>
  			<if test="packUnit != null">pack_unit=#{packUnit},</if>
			<if test="packName != null">pack_name=#{packName},</if>
  			<if test="isFrozen != null">is_frozen=#{isFrozen},</if>
  			<if test="supplierId != null">supplier_id=#{supplierId},</if>
  			<if test="ownerId != null">owner_id=#{ownerId},</if>
  			<if test="lotId != null">lot_id=#{lotId},</if>
  			<if test="inDate != null">in_date=#{inDate},</if>
  			<if test="expireDate != null">expire_date=#{expireDate},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt},</if>
			<if test="itemId != null">item_id=#{itemId},</if>
			<if test="isDefect != null">is_defect=#{isDefect},</if>
			<if test="isRefund != null">is_refund=#{isRefund}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getStockQuantById" parameterType="long" resultMap="stockQuantResultMap">
		select * from stock_quant
		where ID=#{id} 
	</select>

	<select id="getContainerIdByLocationId" parameterType="long" resultType="long">
		select distinct container_id from stock_quant
		where location_id=#{locationId}
	</select>

	<select id="countStockQuant" parameterType="map" resultType="int">
		select count(*) from stock_quant
		<include refid="queryCondition"/>
	</select>
  
	<select id="getStockQuantList" parameterType="map" resultMap="stockQuantResultMap">
		select * from stock_quant
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>

	<select id="getQuants" parameterType="map" resultMap="stockQuantResultMap">
		select * from stock_quant
		<where>
			<if test="skuId != null and skuId != 0">sku_id=#{skuId}</if>
			<if test="locationId != null and locationId != 0">and location_id=#{locationId}</if>
			<if test="locationList != null">
				and location_id in
				<foreach collection="locationList"  item="item" index="index" open="(" separator=","  close=")">
					#{item}
				</foreach>
			</if>
			<if test="containerId != null and containerId != 0">and container_id=#{containerId}</if>
			<if test="reserveMoveId != null and reserveMoveId != 0">and reserve_move_id=#{reserveMoveId}</if>
			<if test="packUnit != null and packUnit != 0">and pack_unit=#{packUnit}</if>
			<if test="packName != null">and pack_name=#{packName}</if>
			<if test="isFrozen != null">and is_frozen=#{isFrozen}</if>
			<if test="supplierId != null and supplierId != 0">and supplier_id=#{supplierId}</if>
			<if test="ownerId != null and ownerId != 0">and owner_id=#{ownerId}</if>
			<if test="lotId != null and lotId != 0">and lot_id=#{lotId}</if>
			<if test="inDate != null">and in_date=#{inDate}</if>
			<if test="expireDate != null">and expire_date=#{expireDate}</if>
			<if test="itemId != null">and item_id=#{itemId}</if>
			<if test="isNormal != null and isNormal != true">and (is_frozen = 1 or reserve_move_id != 0)</if>
			<if test="isDefect != null">and is_defect=#{isDefect}</if>
			<if test="isRefund != null">and is_refund=#{isRefund}</if>
		</where>
		<choose>
			<when test=" strategy == 'FIFO' ">ORDER BY IN_DATE</when>
			<when test=" strategy == 'FEFO' ">ORDER BY EXPIRE_DATE</when>
			<otherwise>
				ORDER BY ID
			</otherwise>
		</choose>
		<if test="start != null and limit != null">
			limit #{start},#{limit}
		</if>

	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="locationId != null">and location_id=#{locationId}</if>
			<if test="containerId != null">and container_id=#{containerId}</if>
			<if test="qty != null">and qty=#{qty}</if>
			<if test="packUnit != null">and pack_unit=#{packUnit}</if>
			<if test="packName != null">and pack_name=#{packName}</if>
			<if test="value != null">and value=#{value}</if>
			<if test="cost != null">and cost=#{cost}</if>
			<if test="reserveMoveId != null">and reserve_move_id=#{reserveMoveId}</if>
			<if test="isFrozen != null">and is_frozen=#{isFrozen}</if>
			<if test="supplierId != null">and supplier_id=#{supplierId}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="lotId != null">and lot_id=#{lotId}</if>
			<if test="inDate != null">and in_date=#{inDate}</if>
			<if test="expireDate != null">and expire_date=#{expireDate}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
			<if test="itemId != null">and item_id=#{itemId}</if>
			<if test="isDefect != null">and is_defect=#{isDefect}</if>
			<if test="isRefund != null">and is_refund=#{isRefund}</if>
		</where>
	</sql>
   
</mapper>