<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.stock.StockAllocDetailDao" >

    <resultMap id="stockAllocDetailResultMap" type="StockAllocDetail">
        <id property="id" column="id"/>
        <result property="itemId" column="item_id"/>
        <result property="obdId" column="obd_id"/>
        <result property="odbDetailId" column="obd_detail_id"/>
        <result property="qty" column="qty"/>
        <result property="status" column="status"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="StockAllocDetail">
        insert into stock_alloc_detail
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="itemId != null">
                item_id,
            </if>
            <if test="obdId != null">
                obd_id,
            </if>
            <if test="obdDetailId != null">
                obd_detail_id,
            </if>
            <if test="qty != null">
                qty,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
        </trim>
        values
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="itemId != null">
                #{itemId},
            </if>
            <if test="obdId != null">
                #{obdId},
            </if>
            <if test="obdDetailId != null">
                #{obdDetailId},
            </if>
            <if test="qty != null">
                #{qty},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="createdAt != null">
                #{createdAt},
            </if>
            <if test="updatedAt != null">
                #{updatedAt},
            </if>
        </trim>
    </insert>


    <update id="update" parameterType="StockAllocDetail">
        update stock_alloc_detail
        <set>
            <if test="itemId != null">item_id=#{itemId},</if>
            <if test="obdId != null">obd_id=#{obdId},</if>
            <if test="obdDetailId != null">obd_detail_id=#{obdDetailId},</if>
            <if test="qty != null">qty=#{qty},</if>
            <if test="status != null">status=#{status},</if>
            <if test="createdAt != null">created_at=#{createdAt},</if>
            <if test="updatedAt != null">updated_at=#{updatedAt}</if>
        </set>
        where id=#{id}
    </update>

    <select id="getStockDetailByItemId" parameterType="Long" resultMap="stockAllocDetailResultMap">
        select * from stock_alloc_detail
        where item_id=#{itemId}
    </select>

    <select id="getStockDetailByObdDetail" parameterType="Long" resultMap="stockAllocDetailResultMap">
        select * from stock_alloc_detail
        where obd_id=#{obdId}
    </select>

    <select id="countStockAllocDetail" parameterType="map" resultType="int">
        select count(*) from stock_alloc_detail
        <include refid="queryCondition"/>
    </select>

    <select id="getStockAllocDetailList" parameterType="map" resultMap="stockAllocDetailResultMap">
        select * from stock_alloc_detail
        <include refid="queryCondition"/>
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <sql id="queryCondition">
        <where>
            <if test="id != null">id=#{id}</if>
            <if test="itemId != null">and item_id=#{itemId}</if>
            <if test="obd_detail != null">and obd_id=#{obdId}</if>
            <if test="obd_detail_id != null">and obd_detail_id=#{obdDetailId}</if>
            <if test="status != null">and status=#{status}</if>
        </where>
    </sql>

</mapper>