<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.pick.PickTaskDetailDao" >

	<resultMap id="pickTaskDetailResultMap" type="PickTaskDetail">
		<id property="id" column="id"/>
		<result property="waveId" column="wave_id"/>
		<result property="orderId" column="order_id"/>
		<result property="skuId" column="sku_id"/>
		<result property="ownerId" column="owner_id"/>
		<result property="locId" column="loc_id"/>
		<result property="supplierId" column="supplier_id"/>
		<result property="reqQty" column="req_qty"/>
		<result property="allocQty" column="alloc_qty"/>
		<result property="pickZoneId" column="pick_zone_id"/>
		<result property="pickQty" column="pick_qty"/>
		<result property="qcQty" column="qc_qty"/>
		<result property="deliveryQty" column="delivery_qty"/>
		<result property="srcLocationId" column="src_location_id"/>
		<result property="dstLocationId" column="dst_location_id"/>
		<result property="pickTaskId" column="pick_task_id"/>
		<result property="containerId" column="container_id"/>
		<result property="pickUid" column="pick_uid"/>
		<result property="pickUname" column="pick_uname"/>
		<result property="pickAt" column="pick_at"/>
		<result property="allocPickLocation" column="alloc_pick_location"/>
		<result property="realPickLocation" column="real_pick_location"/>
		<result property="qcUid" column="qc_uid"/>
		<result property="qcUname" column="qc_uname"/>
		<result property="qcAt" column="qc_at"/>
		<result property="sowTaskId" column="sow_task_id"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="PickTaskDetail">
		insert into pick_task_detail (
			wave_id,order_id,sku_id,owner_id,loc_id,supplier_id,
			req_qty,alloc_qty,pick_zone_id,pick_qty,qc_qty,delivery_qty,
			src_location_id,dst_location_id,pick_task_id,container_id,pick_uid,pick_uname,
			pick_at,alloc_pick_location,real_pick_location,qc_uid,qc_uname,qc_at,
			sow_task_id,created_at,updated_at
    	) values (
			#{waveId},#{orderId},#{skuId},#{ownerId},#{locId},#{supplierId},
			#{reqQty},#{allocQty},#{pickZoneId},#{pickQty},#{qcQty},#{deliveryQty},
			#{srcLocationId},#{dstLocationId},#{pickTaskId},#{containerId},#{pickUid},#{pickUname},
			#{pickAt},#{allocPickLocation},#{realPickLocation},#{qcUid},#{qcUname},#{qcAt},
			#{sowTaskId},#{createdAt},#{updatedAt}
    	)
	</insert>

	<update id="update" parameterType="PickTaskDetail">
		update pick_task_detail
    	<set>
  			<if test="waveId != null">wave_id=#{waveId},</if>
  			<if test="orderId != null">order_id=#{orderId},</if>
  			<if test="skuId != null">sku_id=#{skuId},</if>
  			<if test="ownerId != null">owner_id=#{ownerId},</if>
  			<if test="locId != null">loc_id=#{locId},</if>
  			<if test="supplierId != null">supplier_id=#{supplierId},</if>
  			<if test="reqQty != null">req_qty=#{reqQty},</if>
  			<if test="allocQty != null">alloc_qty=#{allocQty},</if>
  			<if test="pickZoneId != null">pick_zone_id=#{pickZoneId},</if>
  			<if test="pickQty != null">pick_qty=#{pickQty},</if>
  			<if test="qcQty != null">qc_qty=#{qcQty},</if>
  			<if test="deliveryQty != null">delivery_qty=#{deliveryQty},</if>
  			<if test="srcLocationId != null">src_location_id=#{srcLocationId},</if>
  			<if test="dstLocationId != null">dst_location_id=#{dstLocationId},</if>
  			<if test="pickTaskId != null">pick_task_id=#{pickTaskId},</if>
  			<if test="containerId != null">container_id=#{containerId},</if>
  			<if test="pickUid != null">pick_uid=#{pickUid},</if>
  			<if test="pickUname != null">pick_uname=#{pickUname},</if>
  			<if test="pickAt != null">pick_at=#{pickAt},</if>
  			<if test="allocPickLocation != null">alloc_pick_location=#{allocPickLocation},</if>
  			<if test="realPickLocation != null">real_pick_location=#{realPickLocation},</if>
  			<if test="qcUid != null">qc_uid=#{qcUid},</if>
  			<if test="qcUname != null">qc_uname=#{qcUname},</if>
  			<if test="qcAt != null">qc_at=#{qcAt},</if>
  			<if test="sowTaskId != null">sow_task_id=#{sowTaskId},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt}</if>
		</set>
		where id=#{id}
	</update>
  
	<select id="getPickTaskDetailById" parameterType="int" resultMap="pickTaskDetailResultMap">
		select * from pick_task_detail
		where ID=#{id} 
	</select>
  
	<select id="countPickTaskDetail" parameterType="map" resultType="int">
		select count(*) from pick_task_detail
		<include refid="queryCondition"/>
	</select>
  
	<select id="getPickTaskDetailList" parameterType="map" resultMap="pickTaskDetailResultMap">
		select * from pick_task_detail
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="waveId != null">and wave_id=#{waveId}</if>
			<if test="orderId != null">and order_id=#{orderId}</if>
			<if test="skuId != null">and sku_id=#{skuId}</if>
			<if test="ownerId != null">and owner_id=#{ownerId}</if>
			<if test="locId != null">and loc_id=#{locId}</if>
			<if test="supplierId != null">and supplier_id=#{supplierId}</if>
			<if test="reqQty != null">and req_qty=#{reqQty}</if>
			<if test="allocQty != null">and alloc_qty=#{allocQty}</if>
			<if test="pickZoneId != null">and pick_zone_id=#{pickZoneId}</if>
			<if test="pickQty != null">and pick_qty=#{pickQty}</if>
			<if test="qcQty != null">and qc_qty=#{qcQty}</if>
			<if test="deliveryQty != null">and delivery_qty=#{deliveryQty}</if>
			<if test="srcLocationId != null">and src_location_id=#{srcLocationId}</if>
			<if test="dstLocationId != null">and dst_location_id=#{dstLocationId}</if>
			<if test="pickTaskId != null">and pick_task_id=#{pickTaskId}</if>
			<if test="containerId != null">and container_id=#{containerId}</if>
			<if test="pickUid != null">and pick_uid=#{pickUid}</if>
			<if test="pickUname != null">and pick_uname=#{pickUname}</if>
			<if test="pickAt != null">and pick_at=#{pickAt}</if>
			<if test="allocPickLocation != null">and alloc_pick_location=#{allocPickLocation}</if>
			<if test="realPickLocation != null">and real_pick_location=#{realPickLocation}</if>
			<if test="qcUid != null">and qc_uid=#{qcUid}</if>
			<if test="qcUname != null">and qc_uname=#{qcUname}</if>
			<if test="qcAt != null">and qc_at=#{qcAt}</if>
			<if test="sowTaskId != null">and sow_task_id=#{sowTaskId}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
		</where>
	</sql>
   
</mapper>