<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.pick.PickZoneDao" >

	<resultMap id="pickZoneResultMap" type="PickZone">
		<id property="id" column="id"/>
		<result property="pickZoneId" column="pick_zone_id"/>
		<result property="pickZoneCode" column="pick_zone_code"/>
		<result property="pickZoneName" column="pick_zone_name"/>
		<result property="locations" column="locations"/>
		<result property="pickUnit" column="pick_unit"/>
		<result property="pickModelSupport" column="pick_model_support"/>
		<result property="createdAt" column="created_at"/>
		<result property="updatedAt" column="updated_at"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="PickZone">
		insert into pick_zone (
			pick_zone_id,pick_zone_code,pick_zone_name,locations,pick_unit,pick_model_support,
			created_at,updated_at
    	) values (
			#{pickZoneId},#{pickZoneCode},#{pickZoneName},#{locations},#{pickUnit},#{pickModelSupport},
			#{createdAt},#{updatedAt}
    	)
	</insert>

	<update id="update" parameterType="PickZone">
		update pick_zone
    	<set>
  			<if test="pickZoneCode != null">pick_zone_code=#{pickZoneCode},</if>
  			<if test="pickZoneName != null">pick_zone_name=#{pickZoneName},</if>
  			<if test="locations != null">locations=#{locations},</if>
  			<if test="pickUnit != null">pick_unit=#{pickUnit},</if>
  			<if test="pickModelSupport != null">pick_model_support=#{pickModelSupport},</if>
  			<if test="createdAt != null">created_at=#{createdAt},</if>
  			<if test="updatedAt != null">updated_at=#{updatedAt}</if>
		</set>
		where pick_zone_id=#{pickZoneId}
	</update>
  
	<select id="getPickZoneById" parameterType="int" resultMap="pickZoneResultMap">
		select * from pick_zone
		where ID=#{id} 
	</select>
  
	<select id="countPickZone" parameterType="map" resultType="int">
		select count(*) from pick_zone
		<include refid="queryCondition"/>
	</select>
  
	<select id="getPickZoneList" parameterType="map" resultMap="pickZoneResultMap">
		select * from pick_zone
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">id=#{id}</if>
			<if test="pickZoneId != null">and pick_zone_id=#{pickZoneId}</if>
			<if test="pickZoneCode != null">and pick_zone_code=#{pickZoneCode}</if>
			<if test="pickZoneName != null">and pick_zone_name=#{pickZoneName}</if>
			<if test="locations != null">and locations=#{locations}</if>
			<if test="pickUnit != null">and pick_unit=#{pickUnit}</if>
			<if test="pickModelSupport != null">and pick_model_support=#{pickModelSupport}</if>
			<if test="createdAt != null">and created_at=#{createdAt}</if>
			<if test="updatedAt != null">and updated_at=#{updatedAt}</if>
		</where>
	</sql>
   
</mapper>