<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.po.InbPoHeaderDao" >

	<resultMap id="inbPoHeaderResultMap" type="InbPoHeader">
		<id property="id" column="ID"/>
		<result property="warehouseId" column="WAREHOUSE_ID"/>
		<result property="orderOtherId" column="ORDER_OTHER_ID"/>
		<result property="orderId" column="ORDER_ID"/>
		<result property="orderUser" column="ORDER_USER"/>
		<result property="ownerUid" column="OWNER_UID"/>
		<result property="orderType" column="ORDER_TYPE"/>
		<result property="supplierCode" column="SUPPLIER_CODE"/>
		<result property="supplierName" column="SUPPLIER_NAME"/>
		<result property="skuVoucherNo" column="SKU_VOUCHER_NO"/>
		<result property="supplierPhone" column="SUPPLIER_PHONE"/>
		<result property="supplierFax" column="SUPPLIER_FAX"/>
		<result property="orderTime" column="ORDER_TIME"/>
		<result property="orderStatus" column="ORDER_STATUS"/>
		<result property="stockCode" column="STOCK_CODE"/>
		<result property="deliveryPlace" column="DELIVERY_PLACE"/>
		<result property="deliveryAddrs" column="DELIVERY_ADDRS"/>
		<result property="deliveryDate" column="DELIVERY_DATE"/>
		<result property="endDeliveryDate" column="END_DELIVERY_DATE"/>
		<result property="insertby" column="INSERTBY"/>
		<result property="updateby" column="UPDATEBY"/>
		<result property="inserttime" column="INSERTTIME"/>
		<result property="updatetime" column="UPDATETIME"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="InbPoHeader">
		insert into INB_PO_HEADER (
			WAREHOUSE_ID,ORDER_OTHER_ID,ORDER_ID,ORDER_USER,OWNER_UID,ORDER_TYPE,
			SUPPLIER_CODE,SUPPLIER_NAME,SKU_VOUCHER_NO,SUPPLIER_PHONE,SUPPLIER_FAX,ORDER_TIME,
			ORDER_STATUS,STOCK_CODE,DELIVERY_PLACE,DELIVERY_ADDRS,DELIVERY_DATE,END_DELIVERY_DATE,
			INSERTBY,UPDATEBY,INSERTTIME,UPDATETIME
    	) values (
			#{warehouseId},#{orderOtherId},#{orderId},#{orderUser},#{ownerUid},#{orderType},
			#{supplierCode},#{supplierName},#{skuVoucherNo},#{supplierPhone},#{supplierFax},#{orderTime},
			#{orderStatus},#{stockCode},#{deliveryPlace},#{deliveryAddrs},#{deliveryDate},#{endDeliveryDate},
			#{insertby},#{updateby},#{inserttime},#{updatetime}
    	)
	</insert>

	<update id="update" parameterType="InbPoHeader">
		update INB_PO_HEADER
    	<set>
  			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
  			<if test="orderOtherId != null">ORDER_OTHER_ID=#{orderOtherId},</if>
  			<if test="orderId != null">ORDER_ID=#{orderId},</if>
  			<if test="orderUser != null">ORDER_USER=#{orderUser},</if>
  			<if test="ownerUid != null">OWNER_UID=#{ownerUid},</if>
  			<if test="orderType != null">ORDER_TYPE=#{orderType},</if>
  			<if test="supplierCode != null">SUPPLIER_CODE=#{supplierCode},</if>
  			<if test="supplierName != null">SUPPLIER_NAME=#{supplierName},</if>
  			<if test="skuVoucherNo != null">SKU_VOUCHER_NO=#{skuVoucherNo},</if>
  			<if test="supplierPhone != null">SUPPLIER_PHONE=#{supplierPhone},</if>
  			<if test="supplierFax != null">SUPPLIER_FAX=#{supplierFax},</if>
  			<if test="orderTime != null">ORDER_TIME=#{orderTime},</if>
  			<if test="orderStatus != null">ORDER_STATUS=#{orderStatus},</if>
  			<if test="stockCode != null">STOCK_CODE=#{stockCode},</if>
  			<if test="deliveryPlace != null">DELIVERY_PLACE=#{deliveryPlace},</if>
  			<if test="deliveryAddrs != null">DELIVERY_ADDRS=#{deliveryAddrs},</if>
  			<if test="deliveryDate != null">DELIVERY_DATE=#{deliveryDate},</if>
  			<if test="endDeliveryDate != null">END_DELIVERY_DATE=#{endDeliveryDate},</if>
  			<if test="insertby != null">INSERTBY=#{insertby},</if>
  			<if test="updateby != null">UPDATEBY=#{updateby},</if>
  			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
  			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ID=#{id}
	</update>

	<update id="updateByOrderOtherIdOrOrderId" parameterType="InbPoHeader">
		update INB_PO_HEADER
		<set>
			<if test="warehouseId != null">WAREHOUSE_ID=#{warehouseId},</if>
			<if test="orderUser != null">ORDER_USER=#{orderUser},</if>
			<if test="ownerUid != null">OWNER_UID=#{ownerUid},</if>
			<if test="orderType != null">ORDER_TYPE=#{orderType},</if>
			<if test="supplierCode != null">SUPPLIER_CODE=#{supplierCode},</if>
			<if test="supplierName != null">SUPPLIER_NAME=#{supplierName},</if>
			<if test="skuVoucherNo != null">SKU_VOUCHER_NO=#{skuVoucherNo},</if>
			<if test="supplierPhone != null">SUPPLIER_PHONE=#{supplierPhone},</if>
			<if test="supplierFax != null">SUPPLIER_FAX=#{supplierFax},</if>
			<if test="orderTime != null">ORDER_TIME=#{orderTime},</if>
			<if test="orderStatus != null">ORDER_STATUS=#{orderStatus},</if>
			<if test="stockCode != null">STOCK_CODE=#{stockCode},</if>
			<if test="deliveryPlace != null">DELIVERY_PLACE=#{deliveryPlace},</if>
			<if test="deliveryAddrs != null">DELIVERY_ADDRS=#{deliveryAddrs},</if>
			<if test="deliveryDate != null">DELIVERY_DATE=#{deliveryDate},</if>
			<if test="endDeliveryDate != null">END_DELIVERY_DATE=#{endDeliveryDate},</if>
			<if test="insertby != null">INSERTBY=#{insertby},</if>
			<if test="updateby != null">UPDATEBY=#{updateby},</if>
			<if test="inserttime != null">INSERTTIME=#{inserttime},</if>
			<if test="updatetime != null">UPDATETIME=#{updatetime}</if>
		</set>
		where ORDER_OTHER_ID=#{orderOtherId} OR ORDER_ID=#{orderId}
	</update>
  
	<select id="getInbPoHeaderById" parameterType="int" resultMap="inbPoHeaderResultMap">
		select * from INB_PO_HEADER
		where ID=#{id} 
	</select>
  
	<select id="countInbPoHeader" parameterType="map" resultType="int">
		select count(*) from INB_PO_HEADER
		<include refid="queryCondition"/>
	</select>
  
	<select id="getInbPoHeaderList" parameterType="map" resultMap="inbPoHeaderResultMap">
		select * from INB_PO_HEADER
		<include refid="queryCondition"/>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">ID=#{id}</if>
			<if test="warehouseId != null">and WAREHOUSE_ID=#{warehouseId}</if>
			<if test="orderOtherId != null">and ORDER_OTHER_ID=#{orderOtherId}</if>
			<if test="orderId != null">and ORDER_ID=#{orderId}</if>
			<if test="orderUser != null">and ORDER_USER=#{orderUser}</if>
			<if test="ownerUid != null">and OWNER_UID=#{ownerUid}</if>
			<if test="orderType != null">and ORDER_TYPE=#{orderType}</if>
			<if test="supplierCode != null">and SUPPLIER_CODE=#{supplierCode}</if>
			<if test="supplierName != null">and SUPPLIER_NAME=#{supplierName}</if>
			<if test="skuVoucherNo != null">and SKU_VOUCHER_NO=#{skuVoucherNo}</if>
			<if test="supplierPhone != null">and SUPPLIER_PHONE=#{supplierPhone}</if>
			<if test="supplierFax != null">and SUPPLIER_FAX=#{supplierFax}</if>
			<if test="orderTime != null">and ORDER_TIME=#{orderTime}</if>
			<if test="orderStatus != null">and ORDER_STATUS=#{orderStatus}</if>
			<if test="stockCode != null">and STOCK_CODE=#{stockCode}</if>
			<if test="deliveryPlace != null">and DELIVERY_PLACE=#{deliveryPlace}</if>
			<if test="deliveryAddrs != null">and DELIVERY_ADDRS=#{deliveryAddrs}</if>
			<if test="deliveryDate != null">and DELIVERY_DATE=#{deliveryDate}</if>
			<if test="endDeliveryDate != null">and END_DELIVERY_DATE=#{endDeliveryDate}</if>
			<if test="insertby != null">and INSERTBY=#{insertby}</if>
			<if test="updateby != null">and UPDATEBY=#{updateby}</if>
			<if test="inserttime != null">and INSERTTIME=#{inserttime}</if>
			<if test="updatetime != null">and UPDATETIME=#{updatetime}</if>
		</where>
	</sql>
   
</mapper>