<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.up.UpPackageDao">

    <resultMap id="packageResultMap" type="UpPackage">
        <id property="id" column="ID"/>
        <result property="appKey" column="APP_KEY"/>
        <result property="pkgName" column="PKG_NAME"/>
        <result property="pkgPath" column="PKG_PATH"/>
        <result property="pkgType" column="PKG_TYPE"/>
        <result property="appId" column="APP_ID"/>
        <result property="osId" column="OS_ID"/>
        <result property="chnId" column="CHN_ID"/>
        <result property="modId" column="MOD_ID"/>
        <result property="status" column="STATUS"/>
        <result property="createdTime" column="CREATED_TIME"/>
        <result property="updatedTime" column="UPDATED_TIME"/>
        <!-- 显示属性 -->
        <result property="appName" column="APP_NAME"/>
        <result property="osName" column="OS_NAME"/>
        <result property="chnName" column="CHN_NAME"/>
        <result property="modName" column="MOD_NAME"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="UpPackage">
		insert into UP_PACKAGE (
			APP_KEY,PKG_NAME,PKG_PATH,PKG_TYPE,APP_ID,OS_ID,
			CHN_ID,MOD_ID,STATUS,CREATED_TIME,UPDATED_TIME
    	) values (
			#{appKey},#{pkgName},#{pkgPath},#{pkgType},#{appId},#{osId},
			#{chnId},#{modId},#{status},#{createdTime},#{updatedTime}
    	)
	</insert>

    <update id="update" parameterType="UpPackage">
        update UP_PACKAGE
        <set>
            <if test="appKey != null">APP_KEY=#{appKey},</if>
            <if test="pkgName != null">PKG_NAME=#{pkgName},</if>
            <if test="pkgPath != null">PKG_PATH=#{pkgPath},</if>
            <if test="pkgType != null">PKG_TYPE=#{pkgType},</if>
            <if test="appId != null">APP_ID=#{appId},</if>
            <if test="osId != null">OS_ID=#{osId},</if>
            <if test="chnId != null">CHN_ID=#{chnId},</if>
            <if test="modId != null">MOD_ID=#{modId},</if>
            <if test="status != null">STATUS=#{status},</if>
            <if test="createdTime != null">CREATED_TIME=#{createdTime},</if>
            <if test="updatedTime != null">UPDATED_TIME=#{updatedTime}</if>
        </set>
        where ID=#{id}
    </update>

    <select id="getPackageById" parameterType="long" resultMap="packageResultMap">
		select pkg.*,app.APP_NAME,os.OS_NAME,chn.CHN_NAME,md.MOD_NAME
		from UP_PACKAGE pkg
		left join UP_APP app on pkg.APP_ID=app.ID
		left join UP_OPSYSTEM os on pkg.OS_ID=os.ID
		left join UP_CHANNEL chn on pkg.CHN_ID=chn.ID
		left join UP_MODEL md on pkg.MOD_ID=md.ID
		where pkg.ID=#{id}
	</select>

    <select id="countPackage" parameterType="map" resultType="int">
        select count(1)
        from UP_PACKAGE pkg left join UP_APP app on app.ID=pkg.APP_ID
        left join UP_OPSYSTEM os on os.ID=pkg.OS_ID
        left join UP_MODEL md on md.ID=pkg.MOD_ID
        left join UP_CHANNEL chn on chn.ID=pkg.CHN_ID
        <include refid="queryCondition"/>
    </select>

    <select id="getPackageList" parameterType="map" resultMap="packageResultMap">
        select pkg.*,app.APP_NAME,os.OS_NAME,md.MOD_NAME,chn.CHN_NAME
        from UP_PACKAGE pkg left join UP_APP app on app.ID=pkg.APP_ID
        left join UP_OPSYSTEM os on os.ID=pkg.OS_ID
        left join UP_MODEL md on md.ID=pkg.MOD_ID
        left join UP_CHANNEL chn on chn.ID=pkg.CHN_ID
        <include refid="queryCondition"/>
        order by pkg.ID desc
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <sql id="queryCondition">
        <where>
            <if test="id != null">pkg.ID=#{id}</if>
            <if test="appKey != null">and pkg.APP_KEY=#{appKey}</if>
            <if test="pkgName != null">and pkg.PKG_NAME=#{pkgName}</if>
            <if test="pkgPath != null">and pkg.PKG_PATH=#{pkgPath}</if>
            <if test="pkgType != null">and pkg.PKG_TYPE=#{pkgType}</if>
            <if test="appId != null">and pkg.APP_ID=#{appId}</if>
            <if test="osId != null">and pkg.OS_ID=#{osId}</if>
            <if test="chnId != null">and pkg.CHN_ID=#{chnId}</if>
            <if test="modId != null">and pkg.MOD_ID=#{modId}</if>
            <if test="status != null">and pkg.STATUS=#{status}</if>
            <if test="keyword != null">
                and (
                pkg.APP_KEY like concat('%',#{keyword},'%')
                OR pkg.PKG_NAME like concat('%',#{keyword},'%')
                )
            </if>
        </where>
    </sql>

</mapper>