<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lsh.wms.core.dao.up.UpVersionRulesConsDao" >

	<resultMap id="versionRulesConsResultMap" type="UpVersionRulesCons">
		<id property="id" column="ID"/>
		<result property="verRuleId" column="VER_RULE_ID"/>
		<result property="eqValue" column="EQ_VALUE"/>
		<result property="eqValueName" column="EQ_VALUE_NAME"/>
		<result property="minValue" column="MIN_VALUE"/>
		<result property="minValueName" column="MIN_VALUE_NAME"/>
		<result property="maxValue" column="MAX_VALUE"/>
		<result property="maxValueName" column="MAX_VALUE_NAME"/>
		<result property="memo" column="MEMO"/>
		<result property="status" column="STATUS"/>
		<result property="createdTime" column="CREATED_TIME"/>
		<result property="updatedTime" column="UPDATED_TIME"/>
	</resultMap>
  
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="UpVersionRulesCons">
		insert into UP_VERSION_RULES_CONS (
			VER_RULE_ID,EQ_VALUE,EQ_VALUE_NAME,MIN_VALUE,MIN_VALUE_NAME,MAX_VALUE,
			MAX_VALUE_NAME,MEMO,STATUS,CREATED_TIME,UPDATED_TIME
    	) values (
			#{verRuleId},#{eqValue},#{eqValueName},#{minValue},#{minValueName},#{maxValue},
			#{maxValueName},#{memo},#{status},#{createdTime},#{updatedTime}
    	)
	</insert>

	<delete id="delete" parameterType="long">
		delete from UP_VERSION_RULES_CONS
		where ID=#{id}
	</delete>

	<update id="update" parameterType="UpVersionRulesCons">
		update UP_VERSION_RULES_CONS
    	<set>
  			<if test="verRuleId != null">VER_RULE_ID=#{verRuleId},</if>
  			<if test="eqValue != null">EQ_VALUE=#{eqValue},</if>
  			<if test="eqValueName != null">EQ_VALUE_NAME=#{eqValueName},</if>
  			<if test="minValue != null">MIN_VALUE=#{minValue},</if>
  			<if test="minValueName != null">MIN_VALUE_NAME=#{minValueName},</if>
  			<if test="maxValue != null">MAX_VALUE=#{maxValue},</if>
  			<if test="maxValueName != null">MAX_VALUE_NAME=#{maxValueName},</if>
  			<if test="memo != null">MEMO=#{memo},</if>
  			<if test="status != null">STATUS=#{status},</if>
  			<if test="createdTime != null">CREATED_TIME=#{createdTime},</if>
  			<if test="updatedTime != null">UPDATED_TIME=#{updatedTime}</if>
		</set>
		where ID=#{id}
	</update>
  
	<select id="getVersionRulesConsById" parameterType="long" resultMap="versionRulesConsResultMap">
		select * from UP_VERSION_RULES_CONS
		where ID=#{id} 
	</select>
  
	<select id="countVersionRulesCons" parameterType="map" resultType="int">
		select count(*) from UP_VERSION_RULES_CONS
		<include refid="queryCondition"/>
	</select>
  
	<select id="getVersionRulesConsList" parameterType="map" resultMap="versionRulesConsResultMap">
		select * from UP_VERSION_RULES_CONS
		<include refid="queryCondition"/>
		<if test="orderBy != null">
			${orderBy}
		</if>
		<if test="start != null and limit != null">
		limit #{start},#{limit}
		</if>
	</select>
  
	<sql id="queryCondition">
		<where>
			<if test="id != null">ID=#{id}</if>
			<if test="verRuleId != null">and VER_RULE_ID=#{verRuleId}</if>
			<if test="eqValue != null">and EQ_VALUE=#{eqValue}</if>
			<if test="eqValueName != null">and EQ_VALUE_NAME=#{eqValueName}</if>
			<if test="minValue != null">and MIN_VALUE=#{minValue}</if>
			<if test="minValueName != null">and MIN_VALUE_NAME=#{minValueName}</if>
			<if test="maxValue != null">and MAX_VALUE=#{maxValue}</if>
			<if test="maxValueName != null">and MAX_VALUE_NAME=#{maxValueName}</if>
			<if test="memo != null">and MEMO=#{memo}</if>
			<if test="status != null">and STATUS=#{status}</if>
			<if test="createdTime != null">and CREATED_TIME=#{createdTime}</if>
			<if test="updatedTime != null">and UPDATED_TIME=#{updatedTime}</if>
		</where>
	</sql>
   
</mapper>